
    
    /* Sticky footer styles
        -------------------------------------------------- */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.logo, .flex-container {
float: left;

}

.logo {
  width: 60%;  
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 40%;
}

.logo-cabeca{
  padding-top: 25%;

}

.img-logo2{
  height: 90px;   
  width: 100%; 

}

.img-response{
    
  height: 77px; 
  display: block;
  margin: 0 auto;     
}

.formula{
  height: 100%;
  
}


.formulario{  
  flex: 1 1 0;
}



.img-1{   
  background-image: url(img/capa-worklab-nova.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%; 
  
}



.alert{
  margin: 0 auto;
  border-radius: 2px;
  padding: 15px;
  width: 400px;  
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);

}

.alert-danger{
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}


button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(../img/remove-icon-small.png)!important;
}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}


.formato-form{  
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  gap: 25px;
}


input[type=text], select {
  width: 100%;
  padding: 10px 20px;  
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;

}

input[type=password], select {
  width: 100%;
  padding: 10px 20px;  
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
 
}

.btn{
  width: 105px;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn:not(.md-skip) {
    font-size: 12px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    user-select: none;
    padding: 8px 14px 7px;
}
.badge, .btn:not(.md-skip) {
    font-weight: 600;
    text-transform: uppercase;
}
.alert, .badge, .btn-group>.btn:not(.md-skip), .btn.btn-link:not(.md-skip):hover, 
.btn:not(.md-skip), .icon-btn, .label:not(.md-skip), .md-shadow-z-1, .note, .panel, 
.social-icons li>a, .social-icons.social-icons-color>li>a, .well {
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
}
.btn-circle {
    border-radius: 25px!important;
    overflow: hidden;
}
.btn {
    outline: 0!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rodape {
  display: flex;
  justify-content: space-between;  

}


.logo-rodape{   
    
}


.copyright{    
  display: flex;  
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: rgb(169, 181, 190);
  padding: 0;
  
  
}

.text-copy{
  margin: 0;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .logo, .flex-container {
    width: 100vw;
  }
}

