
@charset "UTF-8";

body {

	margin: 0px;
	padding: 0px;	
	
}

.container1 {
	display: flex;	
	background-color: #11364c;	
	height: 80px;	
	justify-content: center!important;
	align-items: center;	
	gap: 10px;
	box-shadow: 1px 20px 150px 0px #535252;
	font-family: Arial, Helvetica, sans-serif;	
	
	
	
}

#logo {
	display: flex;	
	width: 100px;
	text-decoration: none;
	align-items: center;
	justify-content: right;	
	padding-right: 70px;
	
	
	
}


nav{
	display: flex;
	list-style: none;	
	background-color: #11364c;
	gap: 30px;		
	justify-content: center;	
	color: white;	
		
	
}


/*segudo container, nome usuario*/
.container4 header {
	display: flex;	
	height: 40px;
	align-items: flex-end;	
	
	
}

.unidade{
	display: flex;		
	justify-content: left;
	align-items: flex-end;
	padding-right: 10px;
	color: #555;
	font-size: 13PX;	
	flex-basis:  37%;
	min-width: 30%;
	
}

.use{
	display: flex;
	padding-top: 10PX;
	font-size: 14PX;		
	color: #555;	
	flex-basis:  63%;
	min-width: 50%;
	justify-content: right;
	padding-right: 50px;
	
	
}


.top-menu .topo {	
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 60px;	
	justify-content: center;
	font-size: 12px;


}

.topo {
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color:white;
}




.img-not {
	width: 30px;
	height: 19px;
	padding-top: 5px;
}


.containerCorpo {
	display: flex;
	align-items: center;		
	justify-content: center;	
	gap: 5px;	
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);*/
    
    


}

.containerEsquerdo {
	display: flex;
	flex-wrap: wrap;
	width: 325px;
	height: 410px;	
	gap: 5px;	
	padding-top: 10px;
	padding-bottom: 5px;		
	

}

.flexA {	
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 180px;	
	justify-content: center;
	align-items: end;
	border-radius: 10px;
	background-color: ghostwhite;

	
	
}



.flexB {
	
	width: 100%;
	height: 225px;
	background-color: ghostwhite;
	border-radius: 10px;
	
}

#histo{
	margin: 0px;
	background-color: #29abe2;
	color: #FFF;
	font-size: 10px;
	border: none;
	cursor: pointer;
	padding: 5px 8px;
	border-radius: 5px;
	text-decoration: none;
	width: 50px;
	height: 10px;
	
	
}

.novi {
	display: flex;
	height: 26px;
	justify-content: left;
	align-items: flex-start;
	gap: 2px;
	
}

.containerDireito {	
	padding-bottom: 7px;
	width: 655px;
	height: 410px;	
	gap: 5px;	
	
}


.flexC {
	display: flex;
	width: 100%;
	height: 50%;	
	align-items: center;

}

.flexD {
	display: flex;
	width: 100%;
	height: 50%;		
	gap: 5px 5px;	
	align-items: center;
	
}

.flexC img:hover , .flexD img:hover {
	opacity: 70%;
	
}



/*290x127*/
.img-logo {		
	width: 290px;
	height: 127px;
	
}


.txt-novi {
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	font-size: 15px;
	padding: 0 36px;	
	
	
}

.txt-novi a {	
	text-decoration: none;
	padding: 0px;
	
	
	
}

.txt-novi span {	
	display: flex;
	font-weight: bold;
	font-size: 12px;
	color: #29abe2;
	align-items: center;
	gap: 5px;		
	padding: 0px;

	
}

.txt-novi p {
	color: #000;
	font-size: 14px;	
	margin: 0;
	
	
	
}
#recursos {
	color: #555;	
	text-decoration: none;
	font-weight: lighter;
}


.img-menu{
	width: 321px;
	height: 195px;
}



.container2 {
	display: flex;	
	background-color: lightgreen;	
	height: 32vh;
	justify-content: center;
	
	
}

.container3 {			
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;	
	
	/* demonstração do grid-template-areas:  */
	grid-template-areas: "h h e"	;	
	height: 10vh;		
	margin-top: 15px;	

	
}

.container3 footer{
	grid-area: e;
	

}


.notificacao{
	display: flex;
}



#und{
	width: 200px;
}



.menu{
	margin: 2px;
	width: 220px;
	border-radius: 10px;
	flex: 1 1 100vw;

}

.sub-menu .nomes-menu {	
	display: block;		
	padding: 10px;
	background: lightblue;
	display: flex;	
	border: 1px solid green;
	
}

.nomes-menu a {
	text-decoration: none;
}


/* Aqui começa o menu DROPDOWN */

.dropdown{
	position: relative;	
	padding-bottom: 5px;


}

.drop-content{
	display: none;
}



.dropdown:hover .drop-content{
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.05);
	margin: auto;
	display: inline-grid;
	grid-template-columns: 193px 193px 193px 193px 193px;
	top: 70px;
	left: -293px;
	border-top: 5px solid #29abe2;

}

.drop-content ul {
	display: block;
	padding-left: 0px;


}

.grid-itens ul li a{
	display: block;		
	line-height: 25px;
	font-family: 'Open sans', sans-serif;
	font-size: 12px;
	color: #555555;
	
}

.grid-itens ul{	
	display: inline-block;
	width: 191px;
	border-right: 1px solid #cccccca6;
	min-height: 160px;

}


.title-menu{
	display: flex;	
	margin-top: 0px;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #29abe2;
}

.megamenu-title:hover {
	background-color: #fff!important;
	color: #29abe2!important;
	cursor: initial;
}


.grid-itens ul a:hover{
	text-decoration: none;
    border-bottom: 1px solid #29abe2;
}

.grid-itens li{
	width: 162px;
	padding-left: 20px;
	

	
}



